USE [master]
GO
/****** Object:  Database [ProyectoUFO_DB]    Script Date: 12/02/2022 19.45.37 ******/
CREATE DATABASE [ProyectoUFO_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoUFO_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProyectoUFO_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoUFO_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProyectoUFO_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoUFO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoUFO_DB]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[CarrerarID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[CarrerarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[CursoID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[CarreraID] [int] NULL,
	[NotaID] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[CursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CursosPorEstudiantes]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CursosPorEstudiantes](
	[EstudianteID] [int] NOT NULL,
	[CursoID] [int] NOT NULL,
	[Nota] [nchar](10) NULL,
 CONSTRAINT [PK_CursosPorEstudiantes] PRIMARY KEY CLUSTERED 
(
	[EstudianteID] ASC,
	[CursoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[EstadoID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[EstudianteID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](100) NULL,
	[Carnet] [nvarchar](50) NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[MatriculaID] [int] NOT NULL,
	[Estado] [int] NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[MatriculaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatriculaPorEstudiante]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatriculaPorEstudiante](
	[MatriculaID] [int] NOT NULL,
	[EstudianteID] [int] NOT NULL,
 CONSTRAINT [PK_MatriculaPorEstudiante] PRIMARY KEY CLUSTERED 
(
	[MatriculaID] ASC,
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notas]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notas](
	[NotaID] [int] NOT NULL,
	[NotaAprobacion] [int] NULL,
	[FechaUltimoCambio] [datetime] NULL,
 CONSTRAINT [PK_Notas_1] PRIMARY KEY CLUSTERED 
(
	[NotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PeriodoLectivo]    Script Date: 12/02/2022 19.45.37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeriodoLectivo](
	[PeriodoID] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFinal] [datetime] NULL,
	[Estado] [int] NULL,
	[MatriculaID] [int] NULL,
 CONSTRAINT [PK_PeriodoLectivo] PRIMARY KEY CLUSTERED 
(
	[PeriodoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Carrera] FOREIGN KEY([CarreraID])
REFERENCES [dbo].[Carrera] ([CarrerarID])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Carrera]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Notas] FOREIGN KEY([NotaID])
REFERENCES [dbo].[Notas] ([NotaID])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Notas]
GO
ALTER TABLE [dbo].[CursosPorEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_CursosPorEstudiantes_Curso] FOREIGN KEY([CursoID])
REFERENCES [dbo].[Curso] ([CursoID])
GO
ALTER TABLE [dbo].[CursosPorEstudiantes] CHECK CONSTRAINT [FK_CursosPorEstudiantes_Curso]
GO
ALTER TABLE [dbo].[CursosPorEstudiantes]  WITH CHECK ADD  CONSTRAINT [FK_CursosPorEstudiantes_Estudiante] FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiante] ([EstudianteID])
GO
ALTER TABLE [dbo].[CursosPorEstudiantes] CHECK CONSTRAINT [FK_CursosPorEstudiantes_Estudiante]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Estados] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Estados]
GO
ALTER TABLE [dbo].[MatriculaPorEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_MatriculaPorEstudiante_Estudiante] FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiante] ([EstudianteID])
GO
ALTER TABLE [dbo].[MatriculaPorEstudiante] CHECK CONSTRAINT [FK_MatriculaPorEstudiante_Estudiante]
GO
ALTER TABLE [dbo].[MatriculaPorEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_MatriculaPorEstudiante_Matricula] FOREIGN KEY([MatriculaID])
REFERENCES [dbo].[Matricula] ([MatriculaID])
GO
ALTER TABLE [dbo].[MatriculaPorEstudiante] CHECK CONSTRAINT [FK_MatriculaPorEstudiante_Matricula]
GO
ALTER TABLE [dbo].[PeriodoLectivo]  WITH CHECK ADD  CONSTRAINT [FK_PeriodoLectivo_Estados] FOREIGN KEY([Estado])
REFERENCES [dbo].[Estados] ([EstadoID])
GO
ALTER TABLE [dbo].[PeriodoLectivo] CHECK CONSTRAINT [FK_PeriodoLectivo_Estados]
GO
ALTER TABLE [dbo].[PeriodoLectivo]  WITH CHECK ADD  CONSTRAINT [FK_PeriodoLectivo_Matricula] FOREIGN KEY([MatriculaID])
REFERENCES [dbo].[Matricula] ([MatriculaID])
GO
ALTER TABLE [dbo].[PeriodoLectivo] CHECK CONSTRAINT [FK_PeriodoLectivo_Matricula]
GO
USE [master]
GO
